[defaults]
retry_files_save_path=~/../.retries/
forks = 100
log_path = /tmp/ansible.log
roles_path = roles/
host_key_checking = False
module_name = shell
remote_port = 22
remote_tmp = $HOME/tmp/.ansible/tmp
vault_password_file = vault.password
callback_plugins = library/callbacks
library = library
timeout = 30
fact_caching = jsonfile
fact_caching_timeout = 86400
private_key_file = ~/.ssh/id_rsa
remote_user = extern-dev